:root {
	--text-color: #CACACA;
}

.footer {
	background-color: #222222;
}

.footer__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
}

.footer__upper-container {
	display: flex;
	flex-direction: column;
	max-width: 540px;
}

.title {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.22;
	color: var(--text-color, white);
}

.form {
	margin-bottom: 25px;
}

.form__input {
	margin-bottom: 25px;
	padding: 21px;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	border: none;
	background-color: #414141;
	color: var(--text-color, white);
}

.form__input::placeholder {
	color: var(--text-color, white);
}

.form__input_message {
	height: 150px;
	resize: none;
}

.form__input:last-child {
	margin-bottom: 0;
}

.submit-btn {
	margin: 0 auto 20px;
	padding: 13px 28px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.22;
	border: none;
	color: #FFF;
	background-color: #FF9900;
	cursor: pointer;
}

.agreement {
	margin: 0 auto 25px;
	padding-left: 18px;
	max-width: 260px;
	position: relative;
	font-size: 16px;
	color: var(--text-color, white);
}

.agreement__checkbox {
	position: absolute;
	appearance: none;
}

.agreement__custom-checkbox {
	position: absolute;
	top: 1px;
	left: 0;
	width: 14px;
	height: 14px;
	background-image: url(/img/checkbox-off.svg);
}

.agreement__checkbox:checked + .agreement__custom-checkbox {
	background-image: url(/img/checkbox-on.svg);
}

.separator {
	margin: 0 0 16px 0;
	height: 1px;
	border: none;
	background-color: #595959;
}

.footer__bottom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__logo {
	margin-bottom: 16px;
}

.footer-nav {
	display: none;
	margin-bottom: 90px;
}

.footer-nav__menu {
	margin: 0;
	padding: 0;
}

.footer-nav__item {
	list-style-type: none;
}

.footer-nav__link {
	text-decoration: none;
	color: var(--text-color, white);
	font-size: 18px;
	font-weight: 600;
	line-height: 2;
}

.socials {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
	list-style-type: none;
}

.socials__logo {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	width: 41px;
	height: 41px;
}

.socials__logo:nth-child(1) {
	background-image: url(/img/facebook-icon.svg);
}

.socials__logo:nth-child(2) {
	background-image: url(/img/vk-icon.svg);
}

.socials__logo:nth-child(3) {
	background-image: url(/img/instagram-icon.svg);
}

.socials__link {
	position: absolute;
	inset: 0;
}

.footer__paragraph {
	display: none;
	width: 363px;
	height: 320px;
	color: var(--text-color, white);
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	align-self: center;
}

@media screen and (min-width: 768px) {
	.footer__section {
		padding-top: 50px;
		padding-bottom: 50px;
		align-items: flex-start;
	}

	.footer__upper-container {
		margin-bottom: 50px;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.title {
		font-size: 48px;
	}

	.submit-btn {
		margin: 0;
		padding: 19px 38px;
		font-size: 16px;
	}

	.agreement {
		margin: auto 0 auto auto;
	}

	.separator {
		display: none;
	}

	.footer__bottom-container {
		align-items: flex-start;
	}

	.socials {
		gap: 25px;
	}

	.socials__logo {
		width: 60px;
		height: 60px;
	}
}

@media screen and (min-width: 1024px) {
	.footer__section {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.footer__upper-container {
		margin-bottom: 0px;
	}

	.footer__logo {
		margin-bottom: 20px;
	}

	.footer-nav {
		display: block;
	}
}

@media screen and (min-width: 1920px) {
  .footer__upper-container {
		max-width: 570px;
  }

	.submit-btn {
		padding: 19px 52px;
	}

	.footer__paragraph {
		display: block;
	}
}